<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/loginstyle.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>InstituteConnect</h1>
            <label for="email">PLease sign in using your institute email id</label>
            <input type="email" id="email" name="email" required>
            <button type="submit" class="login-btn">Login</button>
            <p class="or">------------or-----------</p>
            <a href="/auth/google" class="ggl-btn">Sign in with Google</a>
        </div>
    </div>
</body>
</html>