body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family:'poppins';
    position: relative;
}
.bg-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/static/images/freepikbg.png);
    background-size: cover;
    background-position: center;
    filter: blur(0.25rem)hue-rotate(70deg)brightness(30%);
    z-index: 0;
}

.container {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%;  
  }
.card{
   padding: 2rem;
   z-index: 1;
   border-radius: 1rem;
   box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
   width: 100%;
   max-width: 400px;
   text-align: center;
   background-color:rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}
.card h1{
    color: white;
    font-size: 2em;
    margin-bottom: 1rem;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
input[type="email"] {
    width: 90%; 
    padding: 0.8rem;
    margin-top: 0.3rem;
    margin-bottom: 1.1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1em;
}
input[type="password"] {
    width: 90%; 
    padding: 0.8rem;
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1em;
}
label {
    font-size: 1em;
    color: #d7d9d9;
    margin-bottom: 0.1rem;
    display: block;
    font-weight: 500;
} 
.login-btn {
    display: inline-block;
    background-color: #5c97cb;
    color: white;
    padding: 0.7rem;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    width: 97%;
    cursor: pointer;
    border:none;
}

.login-btn:hover {
    background-color: #4f8bbf;    
}

.or{
    color: rgb(199, 214, 241);
    font-size: 1em;
}
.forgot{
    color: rgb(188, 202, 227);
    font-size: 0.95em;
    text-decoration: none;
    margin-bottom: 0.1em;
}
.forgot:hover{
    text-decoration: underline;
}
.ggl-btn {
    display: inline-block;
    background-color: #5c97cb;
    color: white;
    padding: 0.7rem;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    width: 90%;
}

.ggl-btn:hover {
    background-color:#4f8bbf;
}
a {
    text-decoration: none;
}
.lastline{
    color: rgb(199, 214, 241);
    font-size: 0.9em;
}