<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link rel="stylesheet" href="/static/css/loginstyle.css">
</head>
<body>
    <div class="bg-blur"></div>
    <div class="container">
        <div class="card">
            <h1>InstituteConnect</h1>
            
              <div class="content">
              <label for="email">Institute Email ID</label>
              <input type="email" id="email" name="email" required>
              <label for="password">Password</label>
              <input type="password" id="email" name="password" required>
              <button type="submit" class="login-btn">Log In</button>
              <a href="pw.html"class="forgot">Forgot your password?</a></div>
              <p class="or">------or------</p>
              <a href="/auth/google" class="ggl-btn">Sign in with Google</a>
              <div class="content"><p class="lastline">don't have an account? <a href="signup.html" class="forgot"><strong>Register</strong></a></p></div>
              
              
        </div>
    </div>
</body>
</html>