
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register-InstituteConnect</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link rel="stylesheet" href="/static/css/loginstyle.css">
</head>
</head>
<body>
    <div class="bg-blur"></div>
        <div class="container">
            <div class="card">
                <h1>Register</h1> 
                 <form action="/auth/register" method="POST">
                    <div class="content">            

                    <label for="fullname">Full Name</label>
                    <input type="fullname" id="fullname" name="fullname" required>
                    
                    
                    <label for="email">Institute Email ID</label>
                    <input type="email" id="email" name="email" required pattern=".*@nitdgp.ac.in"title="Must be a @nitdgp.ac.in email">

                    <label for="password">Set Password</label>
                    <input type="password" id="password" name="password" required minlength="6">

                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" reqiured minlength="6">

                    <button type="submit" class="login-btn">Register</button>
                </div>
                </form>
            </div>
        </div>
</body>
</html>
               