body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    background: url(/static/images/Pastedimage.png);
    background-size: cover;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
.card{
   padding: 2rem;
   border-radius: 1rem;
   box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
   width: 100%;
   max-width: 400px;
   text-align: center;
   background-color: rgb(98, 40, 184);
}
.card h1{
    color: white;
    font-size: 2.5em;
    margin-bottom: 1.1em;
}
input[type="email"] {
    width: 90%; 
    padding: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1em;
}
label {
    font-size: 1.1em;
    color: white;
    margin-bottom: 0.5rem;
    display: block;
    font-weight: 500;
}
.login-btn {
    display: inline-block;
    background-color: #5c48b5;
    color: white;
    padding: 0.8rem;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    width: 96%;
    margin-bottom: 1rem;
}

.login-btn:hover {
    background-color: #6141ef;
    
}
.or{
    color: rgb(193, 186, 186);
    font-size: 1.5em;
}

.ggl-btn {
    display: inline-block;
    background-color: #5c48b5;
    color: white;
    padding: 0.8rem;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    width: 90%;
}

.ggl-btn:hover {
    background-color:#6242f0;
}
a {
    text-decoration: none;
}
